* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #a00a99, #7a0965, #8e3072);
      color: white;
    }

    .login-container {
      max-height: max-content;
      max-width: 400px;
      padding: 30px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(12px);
      border-radius: 15px;
      box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    .input-group {
      margin-bottom: 18px;
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 5px;
      font-size: 14px;
    }

    input {
      padding: 10px;
      border: none;
      border-radius: 8px;
      outline: none;
      font-size: 14px;
    }

    input:focus {
      border: 2px solid rgb(207, 52, 212);
    }

    .login-btn {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 8px;
      background: cyan;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 5px;
    }

    .login-btn:hover {
      background: #00cccc;
    }

    .divider {
      text-align: center;
      margin: 20px 0;
      font-size: 13px;
      opacity: 0.7;
    }

    .social-container-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.social-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  background: #ffffff10;
  backdrop-filter: blur(5px);
  transition: 0.3s;
}

.social-btn img {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
}

.social-btn span {
  font-size: 12px;
  color: white;
}

.social-btn:hover {
  transform: scale(1.05);
}


    .google {
      background: white;
      color: black;
    }

    .google:hover {
      background: #f1f1f1;
    }

    .microsoft {
      background: #0171cc;
      color: white;
    }

    .microsoft:hover {
      background: #034b86;
    }

    .github {
      background: #fbfdff;
      color: rgb(7, 7, 7);
    }

    .github:hover {
      background: #a3b0bd;
    }

    .footer-text {
      text-align: center;
      margin-top: 15px;
      font-size: 13px;
      opacity: 0.6;
    }